 #slider1_container{
	position: relative; 
	top: 0px; 
	left: 0px; 
	width: 666px;
	height: 500px; 
	overflow: hidden; 	
 }
#designer_pics{
	cursor: move; 
	position: absolute; 
	left: 0px; 
	top: 0px; 
	width: 666px; 
	height: 500px;
	overflow: hidden;
}
.jssora13l, .jssora13r, .jssora13ldn, .jssora13rdn {
                position: absolute;
                cursor: pointer;
                display: block;
                background: url(../images/designers/a13.png) no-repeat;
                overflow: hidden;
 }
.jssora13l {
    background-position: -10px -35px;
 /*	width: 40px; 
    height: 50px; 
    top: 123px; 
    left: 166px; */
}
.jssora13r {
    background-position: -70px -35px;
 /*   width: 40px; 
    height: 50px; 
    top: 123px; 
    right: 166px; */
}
.jssora13l:hover {
    background-position: -130px -35px;
}
.jssora13r:hover {
    background-position: -190px -35px;
}
.jssora13ldn {
    background-position: -250px -35px;
}
.jssora13rdn {
    background-position: -310px -35px;
}
