@import url(http://fonts.googleapis.com/css?family=Lato);

/* --------------------------------------------------- All pages --------------------------------------------------- */
* {
	 margin:0px ; 
	 padding:0px;
}
header,main,footer, nav, section, article, aside,body {
	display: block;	
}
#wrapper {
	width : 1005px;	
	min-height: 100%;
	margin: 282px auto 0px auto;
}
#wrapper>main { 	/* for spacing in small laptop */ 
	margin-bottom: 40px;
}
/*
#about>#wrapper>main,#hp>#wrapper>main {
	min-height: 342px;
}
#articles>#wrapper>main {
	min-height: 407px;
}
*/

/*----------------------- main menu ----------------------- */
header {
	height: 146px;
}
header>nav {
	height: 28px;
}
.top_menu {
	list-style-type: none;
	display: block;
	height: 28px;
}
.top_menu>li {
	float: left;
	width: 20%;
	height: 100%;
}
.top_menu>li>a {
	display: block;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	padding-top: 7px;						
	font-family: Arial;
	font-size: 13px;
	width: 100%;
	height: 21px;
	text-shadow:0px -1px 1px #222222;
}
.top_menu>li>a:hover {
	text-shadow: 0px 0px 6px rgba(255,255,255,1);		/* glory */
	font-size: 14px;
}
#logo {
	display: block;
	text-align: center;
	padding: 49px 0px 35px 0px;
	font-family: Lato, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 28px;
	font-weight: normal;
	text-decoration: none;
}

/*----------------------- static aside ----------------------- */
/* fixed links to facebook and contact us */ 
aside {
	position: fixed;
	height: 191px;
	width: 22px;
	top: 358px;
	right: 2%;
}
aside>a {
	height:89px;
	width:22px;
	display: block;
	text-decoration: none;
}
aside>a:nth-child(1) {
	background: #000000 url(../images/facebook.jpg);
	background-repeat: no-repeat;
}
aside>a:nth-child(2) {
    background: #000000 url(../images/contact_us.jpg);
    background-repeat: no-repeat;
    margin-top:13px;
}
aside>a:nth-child(2)>p {
	font-family: Arial;
	font-size: 14px;
	color: #FFFFFF;
	padding-left:14px; 
	white-space:nowrap;
    transform-origin:50% 50%;   
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
   	-moz-transform: rotate(90deg); 
    -o-transform: rotate(90deg);
}
/*----------------------- footer ----------------------- */
footer {
	background: #000000 url(../images/footer.jpg) no-repeat bottom;
	height: 32px;
}
footer>section {
	height: 32px;
	width: 1005px;
	margin:auto;
	position: relative;
}
footer>section>a {
	display: block;
	position: absolute;
	text-decoration: none;
	font-family: Arial;
	color: #e7e5e5;
	top:9px;
}
footer>section>a:nth-child(1) {
	font-size: 13px;
	left: 42px;
}
footer>section>a:nth-child(2) {
	font-size: 13px;
	left: 91px;
	width: 54px;
	background: url(../images/footer_up_arrow.png) no-repeat right 4px;		
}
footer>section>a:nth-child(3) {
	font-size: 14px;
	left: 446px;
	width: 125px;
	background: url(../images/footer_up_arrow.png) no-repeat 103px 5px;	
}
footer>section>a:nth-child(4) {
	font-size: 12px;
	right: 94px;
	width: 50px;
	background: url(../images/footer_vertical_bar.jpg) no-repeat right 3px;	
}
footer>section>a:nth-child(5) {
	font-size: 12px;
	right: 47px;
}

/* --------------------------------------------------- Home page --------------------------------------------------- */

/* home page background */ 
#hp {
	background: #000000 url(../images/hp_bg.jpg) no-repeat top;
/*	background-size: 2211px 310px; */ 
}
/* first section in home page - title LETRANGER*/
#hp_info {
	height : 100px; 
	background: #000000 url(../images/line.jpg) no-repeat 40px bottom;	
/*	background-size: 917px 1px; */ 
}
#hp_info>p {
	font-family: Arial;
	font-size: 12px;
	color: #808080;
	line-height: 27px;
	padding: 2px 45px 0px 36px;		
}
/* second section in home page*/
#designers_area {
	height : 120px;
	width: 1005px;
	background: #000000 url(../images/line.jpg) no-repeat 40px 101px; 
}  
#designers_area>h2 {	
	font-family: Arial;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	background: #000000 url(../images/down_arrow.png) no-repeat 102px 4px;
	margin: 18px 0px 0px 443px;
}
#designers_area>nav {
	height: 50px;
	width: 1005px;
	margin-top: 12px;
	background: #000000 url(../images/right_big_arrow.png) no-repeat 914px 0px;
	background-size: 42px 50px; 
}
#designers_menu {
	list-style-type: none;
	display: inline-block;
	margin: 18px 0px 0px 26px;
}
#designers_menu>li {
	float: left;
	padding: 0px 13px 0px 14px;
	background: #000000 url(../images/vertical_bar.jpg) no-repeat right center;	
}
#designers_menu>li:last-child {
	background: none;
}
#designers_menu>li>a {
	text-align: center;
	display: block;
	color: #d3cfcf;
	text-decoration: none;
	font-family: Arial;
	font-size: 14px;
}

/* ------------------------------------------------- Textual pages ------------------------------------------------- */

#textual_pages {
/*	background: #000000 url(../images/check/textual_pages_bg.jpg) no-repeat top; */
	background: #000000 url(../images/textual_pages_bg.jpg) no-repeat top; 
/*	background-size: 2211px 310px; */ 
}

/* --------------------------------------------------- About page --------------------------------------------------- */

#about_info {
	height : 230px; /* 207 */
	width: 1005px;
	background: url(../images/main_bar.jpg) no-repeat 40px top, url(../images/line.jpg) no-repeat 40px bottom;
}
#about_info>h1,#articles_title>h1 {
	font-family: Arial;
	font-size: 16px;
	color: #FFFFFF;
	padding: 5px 0px 0px 49px;
	margin-bottom: 4px;
}
#about_info>p {
	font-family: Arial;
	font-size: 12px;
	color: #808080;
	line-height: 22px;
	padding: 24px 45px 0px 40px;
} 

/* --------------------------------------------------- Articles page --------------------------------------------------- */

#articles_title {
	height : 27px; 
	background: url(../images/main_bar.jpg) no-repeat 40px top;
	width: 1005px;
	position: relative;
}
/*the styling of h1 is in about page*/
#articles_types{
	list-style-type: none;
	display: inline-block;
	margin: 7px 0px 0px 26px;
	position: absolute;
	top:0px;
	right: 40px;
}
#articles_types>li {
	float: left;
	padding: 0px 13px 0px 14px;
	background: url(../images/vertical_bar.jpg) no-repeat right center;	
}
#articles_types>li:last-child {
	background: none;
}
#articles_types>li>a {
	text-align: center;
	display: block;
	color: #bcbcbc;
	text-decoration: none;
	font-family: Arial;
	font-size: 13px;
}
#articles_types>li:first-child>a {
	color: #FFFFFF;
}
#all_articles{
	height : 342px;
}
#all_articles>article{
	width: 1005px;
	background:url(../images/line.jpg) no-repeat 40px bottom;
	position: relative; 	
}
#all_articles>article:nth-child(1){
	height : 168px;
}
#all_articles>article:nth-child(2){
	height : 173px;
}
#all_articles>article>h2{
	font-family: Arial;
	font-size: 13px;
	color: #ffffff;
	padding: 32px 45px 0px 40px;
}
#all_articles>article>p {
	font-family: Arial;
	font-size: 12px;
	color: #808080;
	line-height: 22px;
	padding: 12px 45px 0px 40px;
} 
.read_more_link {
	display: block;
	width: 78px;
	height: 18px;
	background:url(../images/read_more.jpg) no-repeat;
	position: absolute;
	right: 40px;
	bottom: 1px;
	text-align: center;
	text-decoration: none;
}
.read_more_link>p{
	padding: 2%;
	font-family: arial;
	font-size: 12px;
	color: #FFFFFF;
}
