@import url(http://fonts.googleapis.com/css?family=Lato);

/* --------------------------------------------------- All pages --------------------------------------------------- */

* {
	 margin:0px ; 
	 padding:0px;
}
header,main,footer, nav, section, article, aside,body {
	display: block;	
}
#wrapper {
	width : 1005px;	
	min-height: 100%;
	margin: 282px auto 0px auto;
}
/*----------------------- main menu ----------------------- */
header>nav {
	height: 28px;
	width: 1005px;
}
header>nav>ul {
	list-style-type: none;
	display: block;
	height: 28px;
}
header>nav>ul>li {
	float: left;
	width: 20%;
	height: 100%;
}
header>nav>ul>li>a {
	display: block;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	padding-top: 7px;						
	font-family: Arial;
	font-size: 13px;
	width: 100%;
	height: 21px;
}
/*----------------------- static aside ----------------------- */
/* fixed links to facebook and contact us */ 
aside {
	position: fixed;
	height: 191px;
	width: 22px;
	top: 358px;
	right: 2%;
}
aside>a{
	height:89px;
	width:22px;
	display: block;
	text-decoration: none;
}
aside>a:nth-child(1) {
	background: url(../images/facebook.jpg);
	background-repeat: no-repeat;
}

aside>a:nth-child(2) {
    background: url(../images/contact_us.jpg);
    background-repeat: no-repeat;
    margin-top:13px;
}
aside>a:nth-child(2)>p{
	font-family: Arial;
	font-size: 14px;
	color: #FFFFFF;
	padding-left:14px; 
	white-space:nowrap;
    transform-origin:50% 50%;   
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
   	-moz-transform: rotate(90deg); 
    -o-transform: rotate(90deg);
}

/*----------------------- footer ----------------------- */
footer {
/*	background: #000000 url(../images/not_used/footer.jpg) no-repeat bottom;*/
	background: #000000 url(../images/footer.jpg) no-repeat bottom;
	height: 32px; 
}
footer>nav {
	height: 32px;
	width: 1005px;
	margin:auto;
	position: relative;
}
footer>nav>ul {
	list-style-type: none;
	height: 32px;
	width: 150px;
	margin: auto;
}
footer>nav>ul>li {
	font-size: 14px;
	width: 150px;
	height: 100%;
	background: url(../images/footer_up_arrow.png) no-repeat 121px 14px;
	padding-left: 18px;
}	
footer>nav>a:nth-child(1) {
	left: 42px;
	font-size: 13px;
}
footer>nav>a:nth-child(2) {
	left: 91px;
	font-size: 13px;
	width: 54px;
	background: url(../images/footer_up_arrow.png) no-repeat right 4px;		
}
footer>nav>ul>li>a {
	width: 150px;
}
footer>nav>a:nth-child(4) {
	right: 94px;
	font-size: 12px;
	width: 50px;
	background: url(../images/footer_vertical_bar.jpg) no-repeat right 3px;	
}
footer>nav>a:nth-child(5) {
	right: 47px;
	font-size: 12px;
}
footer a{
	position: absolute;
	text-decoration: none;
	font-family: Arial;
	color: #e7e5e5;
	top:9px;
}

/* --------------------------------------------------- Home page --------------------------------------------------- */

/* home page background */ 
#hp {
	background: #000000 url(../images/hp_bg.jpg) no-repeat top;
	background-size: 2211px 310px; 
}
#hp>#wrapper>main {
	height: 460px;
	width: 1005px;
/*	background: url(../images/hp_main.jpg) no-repeat center;
*/
}
/* first section in home page - title LETRANGER*/
#hp>#wrapper>main>section:nth-child(1)  {
	height : 218px;
	background: url(../images/line.jpg) no-repeat 40px bottom;	/* center?  instead of 40px */
	background-size: 917px 1px; 
}
#hp>#wrapper>main>section:nth-child(1)>h1, #about>#wrapper>main>section:nth-child(1)>h1 {
	font-family: Lato, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 28px;
	font-weight: normal;
	text-align: center;
	padding: 49px 0px 35px 0px;
}
#hp>#wrapper>main>section:nth-child(1)>p {
	font-family: Arial;
	font-size: 12px;
	color: #808080;
	line-height: 27px;
	padding: 2px 45px 0px 36px;		
}
/* second section in home page*/
#hp>#wrapper>main>section:nth-child(2) {
	height : 120px;
	width: 1005px;
	background: #000000 url(../images/line.jpg) no-repeat 40px 101px; /* center?  instead of 40px */
}  
#hp>#wrapper>main>section:nth-child(2)>h2{	
	font-family: Arial;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	background: #000000 url(../images/down_arrow.png) no-repeat 102px 4px;
	margin: 18px 0px 0px 443px;
}
#hp>#wrapper>main>section:nth-child(2)>nav {
	height: 50px;
	width: 1005px;
	margin-top: 12px;
	background: #000000 url(../images/right_big_arrow.png) no-repeat 914px 0px;
	background-size: 42px 50px; 
}
#hp>#wrapper>main>section:nth-child(2)>nav>ul{
	list-style-type: none;
	display: inline-block;
	margin: 18px 0px 0px 26px;
}
#hp>#wrapper>main>section:nth-child(2)>nav>ul>li {
	float: left;
	padding: 0px 13px 0px 14px;	
}
.designer_separated {
	background: #000000 url(../images/vertical_bar.jpg) no-repeat right center;
}
#hp>#wrapper>main>section:nth-child(2)>nav>ul>li>a {
	text-align: center;
	display: block;
	color: #d3cfcf;
	text-decoration: none;
	font-family: Arial;
	font-size: 14px;
}

/* --------------------------------------------------- About page --------------------------------------------------- */

/* about page background */ 
#about {
	background: #000000 url(../images/about_bg.jpg) no-repeat top;
	background-size: 2211px 310px; 
}
#about>#wrapper>main {
	height: 460px;
	width: 1005px;
}
#about>#wrapper>main>section:nth-child(1) {
	height: 145px;
	background:#000000 url(../images/main_bar.jpg) no-repeat 40px bottom;
}
#about>#wrapper>main>section:nth-child(1)>h3 {
	font-family: Arial;
	font-size: 16px;
	color: #FFFFFF;
	padding: 5px 0px 0px 49px;
}
#about>#wrapper>main>section:nth-child(2) {
	height : 207px;
	width: 1005px;
	background: #000000 url(../images/line.jpg) no-repeat 40px bottom;
}
#about>#wrapper>main>section:nth-child(2)>p {
	font-family: Arial;
	font-size: 12px;
	color: #808080;
	line-height: 22px;
	padding: 24px 45px 0px 40px;
} 	



